//accordion
.accordion-title {
    display: flex;
    justify-content: center;
    align-items: center;
h2{
    margin: 60px auto 20px;
}    
}
.accordion {
margin: 0 auto;
padding: 2px;
width: 768px;
&-item{
    border-bottom: 1px solid #e5e5e5;
}
}
.accordion-item button{
position: relative;
text-align: left;
display: block;
width: 100%;
height: 60px; //may be a problem at responsive
padding: 16px 40px 16px 10px;
color: $dark;
font-size: 1.15rem;
border: none;
outline: none;
background-color: #fff;
&:hover, &:focus{
    cursor: pointer;
    background-color: $light-grey;
}
}
.accordion-btn{
    img{
        position: absolute;
        top: 18px;
        right: 20px;
    width: 20px;
    aspect-ratio: 1;
    }
}
.accordion-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 1rem;
padding: 10px 10px 20px;
}

.rotate {
transition: 0.4s ease;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);

}

@media (max-width: 840px){
html, body {
    overflow-x: hidden;

}
body{
    margin: 0;
    align-items: center;
}
.accordion {
    width: 100%;
}
.accordion-title h2{
    width: 90%;
    text-align: center;
}
}