#footer {
  background-color: rgba(#000, .7);
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.footer-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  gap: 70px;
margin-bottom: 30px;
}
.logo-under{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 35%;
  gap: 16px;  
}
.txt-block{
  width: 100%;
text-align: left;
font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: clamp(18px, 1.87vw, 22px)
}
// .not-logo-part{
//   display: flex;
//   flex-grow: 2;
//   justify-content: center;
//   align-items: center;
//   gap: 30px
// }
.nav-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.footer-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.title, .connect{
  color: $pink;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
}
.title, .connect, a{
  font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
}
.footer-nav, .contacts {
  a{
  text-decoration: none;
  font-size: 16px;
  color: $white;
  &:hover{
    text-decoration: underline;
  }
  &:focus{
    color: $blue-green;
  }
  &:active{
    text-decoration: underline;
    color: $blue-green;
  }
}
}
.tel{
  margin-bottom: 16px;
}
.icons-contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.soc-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icon-wrap{
  border: 1px solid white;
  border-radius: 50%;
  &:hover{
      background-color: $white;
  }
  >a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      aspect-ratio: 1;
      .a-icon{
          height: 18px;
      }
      &:hover, &:focus {
          cursor: pointer;
          border-radius: 50%;
          &.a-icon{
              svg path{
                fill: $blue-green;
              }
            }
      }
      &:active{
          cursor: pointer;
          border-radius: 50%;
          &.a-icon{
              svg path{
                fill: $blue-btn-active;
              }
            }
      }
  }
}

 //responsive
 @media  screen and (max-width: 834px){
.footer-flex{
  flex-wrap: wrap;
  justify-content: center; 
    margin-bottom: 40px;
    gap: 40px;
  }
 
 .logo-under{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
 }

 @media  screen and (max-width: 375px){

 }