
@import 'vars';

.page-top{
   padding: 10px 0 40px;
    background-color: $light-grey;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: clamp(22px,1.87vw, 28px);
    font-weight: 600;
    text-align: center;
    margin: 20px 0 30px;
}
p{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(16px,1.87vw, 20px);
    font-weight: 400;
   
}
.api-flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;   
    padding-top: 20px;
    margin-bottom: 30px;
}
.api-img{
    aspect-ratio: 45/35;
    box-shadow: 0 0 5px  5px #888888;
}
.books-api{
    padding: 30px 50px;
}
.api-flex {
    .btn{
         width: 100%;
         font-family: 'Roboto', sans-serif;
         font-weight: 400;
         font-size: 18px;
         border-radius: 6px;
         color: $white;
         background-color: $blue-btn;
         &:hover{
            cursor: pointer;           
            background-color: $blue-btn-active;
           
          }
         &:focus {
          cursor: pointer;
          background-color: $blue-btn-active;
        
         } 
         &:active{
            cursor: grabbing;
            filter: invert(100%);
            outline: none;
         }
        }
        p{
            width: 75%;
            font-size: clamp(16px,1.87vw, 18px);
            margin-bottom: 30px;
            // padding: 0 30px;
            margin: 0 auto 30px;
        }
}    

.label{
    display: block;
    margin-bottom: 7px;
    color: $dark;
    text-align: center;
    font-family: 'Satisfy', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

input{
    height: 43px;
    width: 100%;
    font-size: 18px;
    line-height: 22px; 
    font-family: 'Roboto';
    font-weight: 400;
    padding: 7px 38px 7px 10px;
    border-style: none;
     border-bottom: 1px solid lightgray;
    background-color: #fff;
    margin-bottom: 35px;
    &:hover{
        cursor: pointer;
       
        background-color: $light-grey;
      }
     &:focus {
      cursor: auto;
      background-color: $light-grey;
      border-bottom: 1px solid $dark;
      outline: none;
     } 
}


.api-answer{
    h3{
        padding-top: 60px;
        text-align: center;
        font-family: 'Satisfy', sans-serif;
             font-weight: 600;
             font-size: clamp(16px,1.87vw, 24px);
        text-decoration: underline;
        margin-bottom: 30px;
     }
}

#books-list{
 display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 35px 30px;
}
.img-top {
    // object-fit: contain;
    height: 100vh;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 16px;
}
  
  .card-info {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
  }  
  .card-title {
    // height: 44px;  //for long titles so authors are on the same level
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    margin: 0;
    text-align: left;
  }

.api-sect{
    margin-bottom: 50px;
}


.articles-sect{
background-color: $light-grey;
padding: 10px 0 50px;
    p{
        margin-bottom: 30px;
    }
}
.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20px;
    gap: 30px;
    h5 a{
        text-decoration: none;
        color: $dark;
        font-family: 'Roboto', sans-serif;
             font-weight: 400;
             font-size: clamp(16px,1.87vw, 20px);;
          &:hover, &:focus{
            color: $dark;
            text-decoration: underline;
            outline: none;
          }   
          &:active{
            text-decoration: none;
            color: $blue-btn;
          }
    }
    img{
        margin-bottom: 20px;
    }
     h5, .date{
        padding: 0 20px;
        margin-bottom: 30px;
    }
}
.card{   
    box-shadow: 10px 10px 5px  2px #888888;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}


