@import 'vars';


.hero{
  color: $white;
  background-color: $dark-grey-fon;
  
    font-size: clamp(18px,1.87vw, 20px);
   
    text-align: center;
    margin: 0 auto 70px;
    padding: 40px;
 
}
.hero-flex, .discover-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  // gap: 50px;
  margin-bottom: 50px;
}
.hero-flex{
  .slogan{
    width: 50%;
    padding: 0 40px;
  }
  h1{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(20px,3.87vw,80px);
    font-weight: 900;
    line-height: 80px;
    margin: 0 auto;
  }  
  p{
    padding: 0 40px;
    margin-bottom: 30px;
  }
}
.get-started{
  &:hover{
    // text-decoration: underline;
    background-color: $dark-pink;
  }
  &:focus{
    text-decoration: none;
    color: $white;
    background-color: $dark-pink;
  }
  &:active{
    filter: invert(100%);
    // color: $dark-pink;    
    // background-color: $white;
  }
}

.hero-img-wrap{
  margin: 0 auto;
  img{
    aspect-ratio: 50/20;
    border-radius: 16px;
  }
}
.txt-n-btn{
  width: 50%;
  padding: 50px 40px 0;
  .btn{
    width: 50%;
  }

}
.discover{
  background-color: $light-grey;
  padding: 40px;
  margin-bottom: 70px;
  p{    
    margin-bottom: 30px;
  }
  .txt-n-btn{
    padding-top: 10px;
  }
}

h2{
  font-size: clamp(18px,3.78vw,36px);
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 30px;
}
.explore{
  color: $white;
  background-color: $blue-btn;
  &:hover{
    // text-decoration: underline;
    background-color: $blue-btn-active;
  }
  &:focus{
    text-decoration: none;
    color: $white;
    background-color: $blue-btn-active;
  }
  &:active{
    filter: invert(100%);
    // color: $dark-pink;    
    // background-color: $white;
  }
}

//styling h3
h3{
  font-size: clamp(18px,3.78vw,26px);
 
  font-weight: 600;
  
  margin-bottom: 30px;
}
.topic-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin-bottom: 70px;
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    opacity: 0.8;
    &:hover, &:focus{
      cursor: pointer;
    opacity: 1;
    text-decoration: none;
    }
    &:active{
      text-decoration: none;
      filter: invert(100%); 
    }
  }
  a{
    text-align: center;
    color: $blue-btn-active;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;

  }
}
.ed{
  background-color: $lt-pink-violet;
}
.travel{
  background-color: $green;
}
.first{
  background-color: $tomato;
}
.food{
  background-color: $light-violet;
}
.trans{
  background-color: $blue-green;
}
.meet{
  background-color: $yellow;
}
.idiom{
  background-color: $dark-pink-violet;
}
.health{
  background-color: $light-green;
}
.cult{
  background-color: $blue-logo-hover;
}
.work{
  background-color: $violet-lt-bg;
}
.life{
  background-color: $pink-lt-small-bg;
}
.daily{
  background-color: $biruza;
}


//For slider
h3{
  font-size: clamp(18px,3.78vw,26px);
 
  font-weight: 600;
  
  margin-bottom: 30px;
}
.lesson-slider{
  position: relative; 
}
.lessonSlider-wrap{
 
  width: 100%;
  padding: 0 30px 40px;
  margin-bottom: 100px;
}
.lessonslider-wrap{
    .lSSlideOuter {
        // position: relative; //????
        .lSPager.lSpg {
          display: flex;
          justify-content: center;
          // position: absolute;
          // right: 20px;
          // top: 0;
          gap: 40px;   //is it needed
          >li {
            &.active, &:hover {
              a {
                cursor: pointer;
                background-color: white;
              }
            }
            a {
              border: 1px solid white;
              border-radius: 50%;
              background-color: transparent;
              
            }
          } 
        }
      }
}
// .custom-buttons {  
//   .btn-prev, .btn-next{
//     position: absolute;
//     top: 280px;
//     border: 1px solid $dark;
//   border-radius: 50%;
//   width: 40px;
//   aspect-ratio: 1;
//   background-color: $pink;
//   &:hover, &:focus{
//     cursor: pointer;
//     background-color: $dark-pink;
//   }
//   &:active{
//     filter: invert(100%);
//   }
//   }
// }
// .btn-prev{
//   transform: rotate(90deg);
//   left: -20px;
//  }
// .btn-next{
//   transform: rotate(-90deg);
//   right: -20px;
// }

//For each slide
.lesson-card{
  border: 1px solid $grey69;
  border-radius: 4px;
    background-color: $white;
    color: $dark;
    font-size: 16px;
    padding: 10px 14px 20px;
    img{
    
      aspect-ratio: 27/20;
      margin-bottom: 10px;
  }
  .level{
     margin-bottom: 10px;
  }
  h4{
    height: 42px;
      font-size: clamp(18px,1.87vw,22px);
      margin-bottom: 14px;
  }
  .category{
      color: $tomato;
      font-size: clamp(16px,1.87vw,18px);
      margin-bottom: 16px;
  }
 .description{
  margin-bottom: 40px;
 }
 .subscription{
  font-size: clamp(18px,1.87vw,22px);
  font-weight: 600;
 }
 .show-btn{
  border: none;
  color: #fff;
  border-radius: 16px;
  width: 100px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: $blue-green;
  &:hover, &:focus{
    cursor: pointer;
    color: $white;
    background-color: $blue-btn-active;
  }
  &:active{
   filter: invert(100%);
  }
 }
}
.type-duration{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    margin-bottom: 16px;
}
.subscr-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

//Responsive
@media screen and (max-width: 1110px){
  .topic-list{
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width: 978px){
  .hero-flex h1{
    width: 100%;
    line-height: 50px;
  }
  .hero-flex, .discover-flex{
    flex-direction: column;

  }
  .hero-flex .slogan {
    width: 100%;

  }
  .slogan, .txt-n-btn{
    width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 860px){
  .topic-list{
    grid-template-columns: repeat(2,1fr);
  }
  h3{
    text-align: center;
  }
  .hero-flex .slogan {
    width: 100%;
    padding: 0;}
}

@media screen and (max-width: 586px){
.topic-list{
    grid-template-columns: 1fr;
  }
h2{
  line-height: 34px;
}
}



@media screen and (max-width: 520px){
  .discover, .hero{
    padding: 60px 0 20px;
  }
  .txt-n-btn{
    padding: 10px 0;
  }
  .hero-flex p{
    padding: 20px 0;
  }
}