$dark: #333;
$dark-grey-fon: rgba(#000, .7);
$grey: #E1E0DE;
$light-grey: #F9F5F2;
$grey69: #696969;
$white: #FFFFFF;
$black: #000000;
$pink: #FF3C78;
$dark-pink: #CB2056;
$bordo: #810C30;
$tomato: #F04D3F;
$blue-btn: #163e94;
$blue-btn-active: #0d2a68;
$blue: #007BB6;
$dark-blue: #2C4058;
$voloshka: #3F7BF8;
$biruza: #10ADED;
$blue-logo-hover:#16B8A2;
$blue-light-bg: #9bd6f4;
$lightest-blue: #D6F2FF;
$blue-green: #16bfed;
$green: #4FC553;
$light-green: #b4f8f1;
$purple: #7E5AFF;
$yellow: #F0B143;

$violet-dark: #212353;
$violet: #8A40EE;
$light-violet: #9C69E2;
$light-pink: #FDE8F5;
$pink-violet: #F063B8;
$dark-pink-violet: #EB4BAB;
$violet-lt-bg: #c59bf6;
$lt-pink-violet: #eb9dc9;
$pink-lt-small-bg: #FEF0F8;